Flask
gunicorn
requests
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
protobuf
certifi
urllib3
idna
oauthlib
requests-oauthlib
pyasn1
pyasn1-modules
proto-plus
opentelemetry-api
httplib2
typing-extensions
uritemplate
